body{
	background-color: black;
}

/*---------------Navigation Bar------------------*/
#navul{
	float: right;
	min-width:60%;
	font-size: 23px;
	font-family: 'Dubai light';
	font-weight: bold;
	padding-top: 20px;
	z-index: 2;
}
li{
	color: white;
}
label.logo{
	font-size: 300%;
	font-style: italic;
	font-weight: bold;
	color: white;
	margin: auto;
	padding-left: 30px;
	padding-bottom: 4px;
}
nav{
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 2;
}
a{
	color: #ffffff;
	transition: font-size .2s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	padding-top: 7px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
#navli:hover{
	font-size: 25px;
}
#navli{
	list-style: none;
    float: right;
}
a:hover{
	text-decoration: none;
	color: #007bff;
}

/*----------------Feed typewriter----------------*/

#greetcont{
	font-family: 'tradegothiclt-bold', sans-serif;
 	padding-top: 130px;
 	text-align: center;
 	font-size: 2em;
  	color: white;
}
#spanid {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*----------------Feedback-----------------*/

#feedhead{
	padding-top: 30px;
	text-align: center;
}
#textarea{
	background-color: #0d0d0d;
	margin: 0 auto;
	border-radius: 10px;
	border-color: #000080;
	box-shadow: 0px 0px 30px 5px #000080;
}
#feeddiv{
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
#feedform{
	padding-top: 45px;
	display: flex;
	justify-content: center;
}
#submitname{
	margin-left: 30px;
	margin-right: 70px;
	background-color: #0d0d0d;
	border-radius: 5px;
	border-color: #000080;
	box-shadow: 0px 0px 10px 7px #000080;
}
.btn{
	padding-right: 10px;
	padding-left: 10px;
}
.btn:hover{
	background-color: #000080;
	box-shadow: 0px 0px 10px 7px #000080;
}

/*---------------Cont typewriter---------------*/

#contcont{
	font-family: 'tradegothiclt-bold', sans-serif;
 	padding-top: 70px;
 	text-align: center;
 	font-size: 2em;
  	color: white;
}
#spanid {
  border-right: .05em solid;
  animation: caret2 1s steps(1) infinite;
}

@keyframes caret2 {
  50% {
    border-color: transparent;
  }
}

/*--------------Horizontal line----------------*/

#conthr {
    margin: 0 auto;
    margin-top: 80px;
    width: 350px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255, 0.9), rgba(0, 0, 0));
}

/*---------------Contact-----------------*/

#conthead{
	padding-top: 30px;
	text-align: center;
}
#contform{
	margin-top: 45px;
	display: flex;
	justify-content: center;
}
#firstname, #lastname, #email{
	box-shadow: 0px 0px 7px 3px #000080;
	background-color: #0d0d0d;
	border-radius: 5px;
	border-color: #000080;
	margin-top: 15px;
	padding: 5px;
}
#email{
	margin-bottom: 15px;
}
#phonelabel{
	padding-right: 20px;
}
#phone{
	box-shadow: 0px 0px 7px 3px #000080;
	border-radius: 5px;
	border-color: #000080;
	background-color: #0d0d0d;
	padding: 5px;
	padding-left: 60px;
	width: 320px;
}
#firstname{
	margin-right: 20px;
}
#email{
	width: 400px;
}
#messagearea{
	box-shadow: 0px 0px 7px 3px #000080;
	background-color: #0d0d0d;
	border-radius: 5px;
	border-color: #000080;
	margin-top: 15px;
}
#submitbtn{
	margin: 0px 150px;
}


/*-----------------Footer------------------*/


hr{
	margin-top: 100px;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0));
}
footer{
	color: white;
	padding-top: 30px;
}
#addhead{
	text-align: center;
}
address{
	text-align: center;
}
#follow{
	text-align: center;
}
#social{
	padding: 10px;
}
#copyright{
	padding-top: 10px;
	font-family: OpenSans,Arial,sans-serif;
}


/*----------------Responsive Design below-----------------*/


@media screen and (max-width: 992px){
	
/*---------------Nav Bar--------------*/

	label.logo{
		font-size: 30px;
		padding-top: 8px;
		padding-left: 20px;
	}
	nav ul li a{
		font-size: 24px;
	}
	.checkbtn{
		display: block;
	}
	#navul{
		position: fixed;
		width: 110%;
		background: rgba(44, 62, 80, 0.9);
		top: 60px;
		left: 104%;
		float: left;
		transition: all .5s;
		padding-bottom: 900px;
		padding-left: 20px;
		z-index: 2;
	}
	#navli{
		list-style: none;
		min-height: 67px;
		min-width: 200px;
	}
	#navli:hover{
		font-size: 27px;
	}
	a:hover{
		text-decoration: none;
		color: #007bff;
	}
	#check:checked ~ ul{
		left: 1.5%;
	}

/*------------------Footer--------------------*/

	#follow{
		padding-top: 15px;
	}
	#socialdiv{
		padding-bottom: 10px;
	}
	#copyright{
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 432px){
	.btn{
		margin-top: 30px;
	}
	#feedheadtext{
		font-size: 2rem;
	}
	#conthr{
		width: 60%;
	}
	#firstname, #lastname, #email{
		padding: 5px;

	}
	#firstname, #email, #phonelabel, #tndc, #messagearea{
		margin-left: 15px;
	}
	#firstname, #lastname{
		width: 160px;
	}
	#email{
		width: 345px;
	}
	#phone{
		width: 265px;
	}
	#messagearea{
		max-width: 340px;
	}
}
@media screen and (max-width: 359px){
	#submitname{
		margin-top: 20px;
		margin-left: 0px;
	}
	#feedform, #feeddiv{
		margin-left: 20px;
	}
	#firstname, #lastname{
		width: 150px;
	}
	#email{
		width: 325px;
	}
	#phone{
		width: 250px;
	}
	#messagearea{
		max-width: 325px;
	}
	#firstname, #email, #phonelabel, #tndc, #messagearea{
		margin-left: 35px;
	}
}
