h1{
	font-family: Copperplate Gothic Light;
	text-align: center;
	font-size: 500%;
	color: #FFFFFF;
	background-size: 100%;
	padding: 30px;
	margin: 0;
	padding-bottom: 80px;
	background-image: linear-gradient(to bottom, rgba(2, 1, 13, 0), #18181b), url("download.jpg");
}
img{
	border-radius: 50%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}
body{
	background: #18181b;
}
section{
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
	background: linear-gradient(#18181b 20%, #000080 100%);
	text-align: center;
}
nav a{
	width: 50%;
}
h2{
	color: white;
	text-align: center;
	font-size: 250%;
	font-family: Copperplate Gothic Light;
	margin-bottom: 15px;
}
i{
	color: white;
}
p{
	font-size: 120%;
}
h3{
	color: white;
	text-align: center;
	font-size: 120%;
	font-family: Copperplate Gothic Light;
	margin: 0;
}
.h3c{
	margin-bottom: 25px;
}
