body{
	background-color: black;
}
ul{
	float: right;
	min-width:60%; 
	font-size: 23px;
	font-family: 'Dubai light';
	font-weight: bold;
	padding-top: 20px;
}
label.logo{
	font-size: 300%;
	font-style: italic;
	font-weight: bold;
	color: white;
	margin: auto;
	padding-left: 30px;
	padding-bottom: 4px;
}
nav{
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 1;
}
a{
	color: #ffffff;
	transition: font-size .2s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	padding-top: 7px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
li:hover{
	font-size: 25px;
}
li{
	list-style: none;
    float: right;
}
a:hover{
	text-decoration: none;
	color: #007bff;
}
#myimg{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
#div1{
	padding-top: 150px;
}
h1{
	font-size: 40px;
	font-family: arial;
}
h2{
	font-size: 28px;
}
#div2{
	padding-top: 100px;
}
hr{
	margin-top: 100px;
	background-color: white;
	width: 80%;
}
footer{
	color: white;
	padding-top: 30px;
}
#addhead{
	text-align: center;
}
address{
	text-align: center;
}
#follow{
	text-align: center;
}
#social{
	padding: 10px;
}

/*----------------Responsive Design below-----------------*/


@media screen and (max-width: 992px){
	label.logo{
		font-size: 30px;
		padding-top: 8px;
		padding-left: 20px;
	}
	nav ul li a{
		font-size: 24px;
	}
	.checkbtn{
		display: block;
	}
	nav{
		z-index: 1;
	}
	ul{
		position: fixed;
		width: 110%;
		background: rgba(44, 62, 80, 0.8);
		top: 60px;
		left: 104%;
		float: left;
		transition: all .5s;
		padding-bottom: 900px;
		padding-left: 20px;
	}
	li{
		list-style: none;
		min-height: 67px;
		max-width: 200px;
	}
	a:hover{
	font-size: 27px;
}
	#check:checked ~ ul{
		left: 1.5%;
	}
	#myimg{
		width: 200px;
		height: 200px;
	}
	h1{
		font-size: 30px;
		text-align: center;
	}
	h4{
		font-size: 20px;
		text-align: center;
	}
	h2{
		font-size: 23px;
		text-align: center;
	}
	p{
		text-align: center;
	}
	#headrow{
		padding-top: 100px;
	}
	#headtext{
		padding-top: 30px;
	}
	#follow{
		padding-top: 15px;
	}
	#socialdiv{
		padding-bottom: 40px;
	}
}
